.title {
  font-family: 'Trocchi', serif;
  color: #7c795d;
  margin: 0;
}

h2.title{
  font-weight: normal;
  font-size: 35px;
}

h1.title {
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 20px;
}

.btn {
  width: 325px;
  background-color: #0095ff;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  border-width: 0px;
}

.btn:hover {
  background-color: #07c;
}

.btn:active {
  background-color: #0064bd;
  box-shadow: none;
}
